*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
    
}

body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#side select{
    font-size: 20px;
    cursor: pointer;
}
button{
    background-color: red;
    color: white;
    font-size: 20px;
    margin: 5px;
    padding: 3px 8px;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    font-size: 25px;
}
.logo{
    color: red;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

}
.first{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/0552717c-9d8c-47bd-9640-4f4efa2de663/537e2c5e-c750-4d4c-9f7a-e66fe93eb977/IN-en-20240701-POP_SIGNUP_TWO_WEEKS-perspective_WEB_b00eeb83-a7e8-4b5b-8ff7-86ed92c51caf_large.jpg");
    background-position: center center;
    background-size:cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
    
}
.first main .box{
    height: 644px;
    width: 100%;
    opacity: 0,69;
    top: 0;
}
.first nav{
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;

}
.hero{
   height: calc(100%-100px);
   text-align: center;
   align-content: center;
   justify-content: center;
   gap: 23px;
   padding: 0 30px;
}

.hero> :nth-child(1){
    font-family: 'poppins',sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.hero input{
    font-size: larger;
}

.separartion{
    height: 17px;
    background-color: rgb(250, 245, 245);
    position: relative;
    z-index: 20;
}

.first input{
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.second{
    display: flex;
   
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    align-items: center;
    padding: 34px 0;
}

.secImg{
    position: relative;
}

.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;

}

.second> div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
.second> div :nth-child(2){
    font-size: 24px;

}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
}
.third .right{
    text-align: center;

}
.third .right h2{
    font-size: 48px;
    font-weight: 900;
    font-family: 'poppins' sans-serif;
}

.third .right> :nth-child(2){
    font-size: 24px;
    font-weight: 400;
}
.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourth h2{
    font-size: 48px;
    font-weight: 900;
}

.fourth div> :nth-child(2){
    font-size: 24px;
    font-weight: 400;
}

.sixth h2{
    text-align: center;
    font-size: 48px;

}
.sixth{
    padding: 34px;

}
.faqbox:hover{
    background-color: #414141;
    color: white;
}
.faqbox svg{
    filter: invert(1);
}
.faqbox{
   transition: all 1s ease-out;
   font-size: 24px;
   display: flex;
   justify-content: space-between;
   background-color: #2d2d2d;
   padding: 24px;
   max-width: 60vw;
   margin: 34px auto;
   cursor: pointer;
}

.fifth{
    font-family: 'poppins' sans-serif;
    display: flex;

    justify-content: center;
    align-items: center;
}

.fifth h2{
    text-align: center;
    font-size: 48px;
}
.child span{
    font-size: 24px;
}

footer{
 color: white;
 max-width: 60vw;
 margin: auto;
 padding: 60px;
}

footer .questions{
    padding: 34px 0;

}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1300px){
    nav{
        max-width: 90px;
    }

    .secImg img{
        width: 305px;
    }
}

.sixth .last{
 text-align: center;
}
.sixth .last input{
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
.sixth .last> :nth-child(1){
  font-size: 24px;
  font-weight: 400;
}

.footer-item a{
    
    color: white;
    font-size: 14px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}






